@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------- font ---------------------------------------- */
@font-face {
  font-family: 'Helvetica';
  src: local('HelveticaNeue-Light'), url('../fonts/Helvetica-Light.ttf') format('truetype');
  font-weight: 100 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: local('HelveticaNeue'), url('../fonts/Helvetica.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: local('HelveticaNeue-Bold'), url('../fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 600 900;
  font-display: swap;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}

.battleboat button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: #eeeeee;
  background-image: linear-gradient(90deg, #382ad2 0%, #4274ee 100%);
  border: none;
  margin: 1em auto 0 auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.battleboat button:hover {
  cursor: pointer;
  background-color: #ffffff;
}
.battleboat button:active {
  background-color: #99c2e1;
}

#start-game,
#place-randomly,
#restart-game {
  position: relative;
  color: #ffffff;
  background-color: #ff9200;
  background-image: none;
}
#start-game:hover,
#place-randomly:hover,
#restart-game:hover {
  background-color: #ffb655;
}
#start-game:active,
#place-randomly:active,
#restart-game:active {
  background-color: #ffce8e;
}

#prefetch1 {
  background: url('/game/cross-icon.svg');
}
#prefetch2 {
  background: url('/game/cross-icon.png');
}
#prefetch3 {
  background: url('/game/crosshair.png');
}
.prefetch {
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
}

.tagline {
  margin-bottom: 2em;
}
.instructions {
  width: auto;
  display: inline-block;
  text-align: left;
  margin: 0 auto 3em auto;
}

.battleboat {
  width: 870px;
  text-align: center;
  margin: 20px auto 100px auto;
}
.game-container {
  position: relative;
}
#roster-sidebar,
#stats-sidebar,
#restart-sidebar {
  width: 187px;
  padding: 20px;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 4.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#roster-sidebar,
#restart-sidebar {
  left: -200px;
}
#stats-sidebar {
  right: -200px;
}
#roster-sidebar h2,
#stats-sidebar h2,
#restart-sidebar h2 {
  margin: 0 0 1em 0;
  text-align: center;
  font-weight: bold;
}

.fleet-roster {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.fleet-roster,
button {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.fleet-roster li {
  margin: 0.5em 0;
}
.fleet-roster li:hover {
  color: #aaa;
  cursor: pointer;
}
.fleet-roster .placing {
  color: rgba(39, 49, 103, 0.5);
}
.fleet-roster .placed {
  visibility: hidden;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.invisible {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  z-index: -20;
}

.grid-container {
  width: 430px;
  display: inline-block;
}
.grid-container h2 {
  width: 430px;
  display: inline-block;
}

.grid1 {
  position: relative;
  vertical-align: top;
  padding: 5px;
  height: 348px;
  width: 348px;
  background-color: #ffb300;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.grid-container:last-child {
  margin-left: 10px;
}
.no-js {
  width: 300px;
  height: 300px;
  margin: 100px auto;
  display: inline-block;
  color: #eeeeee;
  font-size: 2em;
}
.grid-cell {
  vertical-align: top; /*clears the vertical space between rows*/
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: #4272ed;
  margin: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.grid-cell:hover {
  cursor: pointer; /* Fallback for IE */
  background-color: #66a3d2;
}
.human-player .grid-cell:hover {
  background-color: #4272ed;
}
.computer-player .grid-cell:hover,
.computer-player:hover {
  cursor: url('/game/crosshair.png') 16 16, crosshair;
}
.grid-ship,
.human-player .grid-ship:hover {
  background-color: #808080;
}
.grid-miss,
.grid-miss:hover,
.human-player .grid-miss:hover {
  background-color: #ffffff;
  background-image: url('/game/cross-icon.png'); /* Fallback */
  background-image: url('/game/cross-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.grid-hit,
.grid-hit:hover,
.human-player .grid-hit:hover {
  background-color: #f60018;
  background-image: url('/game/cross-icon.png'); /* Fallback */
  background-image: url('/game/cross-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.grid-wait {
  background-color: #f0e2e2;
}

.grid-sunk,
.grid-sunk:hover,
.human-player .grid-sunk:hover {
  background-color: #222222;
}

.highlight {
  overflow: visible; /* Bugfix for IE */
}
.highlight:before {
  content: '\2193';
  font-weight: bold;
  font-size: 75px;
  color: #ff9200;
  text-shadow: 0 0 5px #ff9200;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -100px;
  left: 50%;
  margin-left: -50px;
  -webkit-animation: highlight 1.5s infinite;
  -o-animation: highlight 1.5s infinite;
  animation: highlight 1.5s infinite;
}
.current-step {
  font-weight: bold;
}

@media (max-width: 1300px) {
  .grid-container:last-child {
    margin-left: 0;
  }
}

@-webkit-keyframes highlight {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes highlight {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes highlight {
  0% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes highlight {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
